#header {
  background-color: #cf3232 !important;
  color: #fff; }
  #header .logo_dev .brand {
    height: 30px;
    width: 72px;
    background: url("../images/logo-w.png");
    background-size: 100% 100%; }
  #header .material-icons {
    color: #fff !important; }

.snb_list > ul > li > ul > li.on > a {
  color: #fff;
  background: #cf3232 url(../images/snb_2depth.png) no-repeat 10px -31px; }

.login_wrap {
  background: url("../images/login-bg.png") right no-repeat;
  padding: 3rem; }
  .login_wrap .login_logo, .login_wrap .card-body {
    padding: 1.5rem; }
  .login_wrap .btn_brand {
    background-color: #7d756d !important;
    border-color: #7d756d !important; }
  .login_wrap .logo img {
    width: 100px; }

.login_wrap .login_logo .logo {
  background-image: url("../images/logo.png");
  width: 74px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 74px 30px; }
